/*       Normalizacion */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variables de CSS */
/* 
Las variables nos sirven para almacenar informacion.
*/
:root{
    --ff-text: "Inter","Roboto", sans-serif;
    --success-color-100: #ffff;
    --success-color-200: #eac9c9;
    --success-color-300: #d79b9b;
    --success-color-400: #68acbd;
    --success-color-500: #64c575;
    --success-color-600: #c15bbf;
    --success-color-800: #0000;

    --background-color-800:rgb(20, 19, 19) ;
    --text-color-100: #ffff;
    --text-color-800: #0000;
    
    --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    --border-color: 1px solid #ededed;

    --height: ;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-text); 
}

a{
    text-decoration: none;
    color: var(--text-color-800);
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

  /*  HEADER  */
header{
    width: 1500px;
    height: 64px;
    min-height: 100px;
    background-color: royalblue;

     margin: 10px;
     border: 10px; 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }

.header-p{
          position: fixed;
          top: 20px;
          left: 20px;
          z-index: 100;   
    
          width: 1450px;
          height: var(--height);
        
          background-color: #33b533;
          display: flex;
          flex-direction: row;
     
     }
 
.business{
          color: #fff;
          background-color:rgb(16, 15, 15);
         }  
         
.boton{
         background-color:rgb(16, 15, 15);
         color:#fff;
         border: none;
      }         

 .boton:hover{
         /* transform: scale(2.7); 
         /* transform: translate(2px);*/
         /* transform: rotate(45deg);*/
         /* font-size: 28px;*/
          overflow: hidden;
          transition: --height 0.3s ease;
                  
        }                

.listas{
           display: flex;
           flex-direction: row;
       }   

.cont-der{
            display: flex;
            flex-direction: row;
            justify-content:right;
        }

.lupa{
         background-color:rgb(16, 15, 15);
         color:#fff;
         border: none;
      }        


.header-h{
       width: 100px;
       height: 60px;
       border-radius: 10px;
       background-color: black;
       margin: 10px;
       border: 50px; 
       display: flex;
       justify-content: center;
       align-items: center;
      }
   

.header-h:nth-child(1){
                       color:var(--text-color-100);
                       background-color:var(--background-color-800);
                      
                     }
.header-h:nth-child(2){
                      color:var(--text-color-100);
                      background-color:var(--background-color-800);
                     }
.header-h:nth-child(3){
                     
                     color:var(--text-color-100);
                     background-color:var(--background-color-800);
                    }
.header-h:nth-child(4){
                      color:var(--text-color-100);
                      background-color:var(--background-color-800);
                     }
.header-h:nth-child(5){
                       color:var(--text-color-100);
                       background-color:var(--background-color-800);
                      }
.header-h:nth-child(6){
                       color:var(--text-color-100);
                       background-color:var(--background-color-800);
                       }
.header-h:nth-child(7){
                        color:var(--text-color-100);
                        background-color:var(--background-color-800);
                      }
.header-h:nth-child(8){
                       color:var(--text-color-100);
                       background-color:var(--background-color-800);
                       }
.header-h:nth-child(9){
                        color:var(--text-color-100);
                        background-color:var(--background-color-800);
                       }
.header-h:nth-child(10){
                        color:var(--text-color-100);
                        background-color:var(--background-color-800);
                       }
.header-h:nth-child(11){
                        color:var(--text-color-100);
                        background-color:var(--background-color-800);
                        }



/*  Encuentra la solucion adecuada  */

.main{
        width: 100%;
        height: 1164px;
       
        background-color: black;

        margin: 10px;
        border: 10px; 

     }
 
.tarjetas-main{
                width: 1500px; 
                background-color:var(--background-color-800);
                display: flex;
                flex-direction: row; 
                justify-content: center;
                align-items: center;
                gap: 16px;
            }     

.Elsad-p{
          width: 1500px;  
        /*   background-color:var(--background-color-800);*/
          background-color:#4444a8; 
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

.Elsad-h{
       width: 100%;
       height: 60px;
       border-radius: 10px;
       background-color: rgb(235, 229, 53);
       margin: 10px;
       border: 50px; 
       display: flex;
       justify-content: center;
       align-items: center;
      }

     
.Elsad-h:nth-child(1){
                     width: auto;
                     color: var(--success-color-100);
                     background-color:var(--background-color-800);
                     font-size: 38px;
                     
                    }

.Elsad-h:nth-child(2){
                    width: auto;
                    color: var(--success-color-100);
                     background-color:var(--background-color-800);
                     font-size: 22px;
                                     
                   }

.Elsad-h:nth-child(3){
                       width: auto; 
                       color: var(--success-color-100);
                       background-color:var(--background-color-800);
                       font-size: 22px;
                     
                     }


                     
                    
.tarjeta-producto-contenedor{
                               width: 100%;
                               display: flex;
                               flex-direction: row; 
                            }

.tarjeta-producto{
                  width:100%;
                  }

.tarjeta-producto 
.tarjeta-producto__imagen{
                          width:95%;
                           margin: 10px;
                           border: 50px; 
                         }   

.tarjeta-producto__titulo{
                            margin: 20px;
                            border: 20px; 
                            font-size: 25px;
                            color: var(--success-color-100);
                         }

.tarjeta-producto__descrip{
                           margin: 20px;
                           border: 20px; 
                           font-size: 18px;
                           color: var(--success-color-100);
                          }  

.tarjeta-producto__lista{
                           margin: 20px;
                           border: 20px; 
                           font-size: 18px;
                           color: var(--success-color-100);
                        }

.lista-chactgpt{
                 margin: 20px;
                 border: 20px; 
                 font-size: 18px;
                 color: var(--success-color-100);  
                }                        
.img-p{
        width: 100%;
        height: 700px;
        padding: 10px;       
        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 22px;
       }

.img-h:nth-child(1){
                     width:800px;
                     height:600px;
                     border-radius: 10px;
                     color: #17c30e;
                     background-color: rgb(59, 55, 57);
                    }


.img-h:nth-child(2){
                     width:800px;
                     height:600px;
                     border-radius: 10px;
                     color: #24b821;
                     background-color:rgb(59, 55, 57) ;
                    }

.img-h:nth-child(3){
                      width:800px;
                      height:600px;
                      border-radius: 10px;
                      color: #19c73c;
                      background-color: rgb(59, 55, 57);
                    }

 


      /*  FOOTER   */


.Foot-p{
       width: 1500px; 
       background-color: #e06f13;
       display: flex;
       flex-direction: row;
      }

.Foot-h{
       width: 100px;
       height: 160px;
       border-radius: 10px;
       background-color: black;
       margin: 10px;
       border: 50px; 
       display: flex;
       justify-content: center;
       align-items: center;
      }
      
.Foot-h:nth-child(1){
                    color: #4444a8;
                    background-color: maroon;
                  }

.Foot-h:nth-child(2){
                    color: #4444a8;
                    background-color: rgb(146, 76, 76);
                   }

.Foot-h:nth-child(3){
                    color: #4444a8;
                    background-color: rgb(0, 98, 128);
                   }

.Foot-h:nth-child(4){
                    color: #4444a8;
                    background-color: rgb(9, 128, 0);
                   }
.Foot-h:nth-child(5){
                    color: #4444a8;
                    background-color: rgb(55, 0, 128);
                   }


   